

// // http://codepen.io/maxinacube/pen/tneEq


.imgbox {
    background: url("/images/artwork-013.jpg");
    background-position:center center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:cover;
    width:100%;
    min-height:100%;
    position: relative;
}
