

// // http://codepen.io/maxinacube/pen/tneEq


// .home {
//     background: url("/images/artwork-013.jpg");
//     background-position:center center;
//     background-repeat: no-repeat;
//     background-attachment:fixed;
//     background-size:cover;
//     width:100%;
//     min-height:100%;
//     position: relative;
// }



.layercake {
    background-position:center center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:cover;
    @extend %condensed;
    //font-family: $sans-condensed-bold;
    width:100%;
    height:100%;
    position: relative;
    z-index: 0;

    &::before {
        content: " ";
        //background: rgba( $charcoal, 0.5 );
        height: 100%;
        width: 100%;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;

        background:
            -webkit-linear-gradient(top,
            rgba(255,255,255,0) 0%,
            rgba(0,0,0,0) 1%,
            rgba(0,0,0,0.05) 26%,
            rgba(0,0,0,0.5) 71%,
            rgba(0,0,0,0.7) 100%);
    }
}

.layercake__box {
    background: transparent;
    position: relative;
    z-index: 5;
    //top: 54%;
    width: 75%;
    margin: 0 auto;

    h2 {
        color: $white;
        font-size: 8em;
        padding-top: 15rem;
        text-align: center;
        text-transform: uppercase;

        //@extend %box-shadow-bottom;
    }

    p {
        color: $white;
        font-size: 6em;
        font-family: $cursive;
        padding-bottom: 15rem;
        text-align: center;
    }
}
