// Block Stuff
.block,
.show	{
  display:block;

}

.clear			 { clear:both; }
.hide			  { display: none; }
.inline			{ display: inline-block; }
.relative		{ position:relative; }


// Floating and Centering
.center	{ margin:0 auto; }
.left 	{ float:left; }
.right	{ float:right; }

@media only screen and (max-width: 768px) {
  // Viewport is less than 768

   .right,
   .left	{
     float:none;
   }
}


// http://codepen.io/maxinacube/pen/tneEq

// With this SCSS mixin you'll be able to horizontally AND vertically center blocks of text dynamically, with ease
