// http://www.sitepoint.com/scaling-values-across-breakpoints-using-sass/
// http://jamessteinbach.com/css/sass-maps-breakpoint-mixin/

// Retinal Media Query from : http://davidwalsh.name/write-media-queries-sass

// EXAMPLE USAGE
/*
@include breakpoint(min) {
    font-size: 1.2em;
}
*/

$breakpoints: (
    min:    "(max-width: 480px)",
    sm:     "(max-width: 600px)",
    med:    "(max-width: 960px)",
    lg:     "(max-width: 1024px)",
    xl:     "(max-width: 1200px)",
    max:    "(max-width: 1600px)",
    iphone: 'only screen and (min-device-width: 320px) and (max-device-width: 568px)',
    retina: "only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)",
    print:  "print"
);

@mixin breakpoint($name) {
  @if not map-has-key($breakpoints, $name) {
    @warn "Warning: #{$name} is not a valid breakpoint name.";
  }
  @else {
    @media #{map-get($breakpoints, $name)} {
      @content;
    }
  }
}
