// Typeface(s) and Fonts
//
$sans: "URWGrotesk-Reg", sans-serif;
$sans-italic: "URWGrotesk-RegIta", sans-serif;

$sans-bold: "URWGrotesk-Bol", sans-serif;
$sans-bold-italic: "URWGrotesk-BolIta", sans-serif;

$sans-condensed-light: "URWGroteskCon-Lig", sans-serif;
$sans-condensed-bold: "URWGroteskCon-Bol", sans-serif;

$cursive: "learning-curve";

$monospace: "Courier New", monospace; // for code highlighting
//$serif       // "Source Serif Pro"
//$slab        // "Museo Slab"

//$condensed   //
//$thick       // "Quatro"

// Weight(s)
// Related to Source Sans Pro (Typekit)
//
//$hairline:200;
//$light: 300;
$normal: normal;
//$bold: 700;
//$heavy:900;


// Vars
$base-font-size: 16px;
$base-line-height: 1.5;

// Funcs
@function line-height() {
 @return $base-font-size * $base-line-height;
}

// Var must be specified after returning the line-height function
$cal-line-height: line-height();

// Mixins
@mixin type-padding($top:1, $bottom:1) {
 //padding-top: $cal-line-height * $top
 //padding-bottom: $cal-line-height * $bottom
 margin-top: $cal-line-height * $top;
 margin-bottom: $cal-line-height * $bottom;
}

// this is all we need to NORMALIZE typography


// Lobotomixed Owl : http://alistapart.com/article/axiomatic-css-and-lobotomized-owls

/*
* + * {
 //padding: \$cal-line-height 0 0 0;
 margin: \$cal-line-height 0 0 0;
 //margin: 0 0 \$cal-line-height 0;
}
*/

html {
 box-sizing: border-box;     // Box-sizing setup per Mr. Irish http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 font-size: $base-font-size; // Font size on :root (html tag) so I can use REMs
}

*, *:before, *:after {
 box-sizing: inherit;
}

body {
 color: $charcoal;
 line-height: 1.5;
 font-family: $sans;
 //background-image: linear-gradient(transparent, transparent line-height() - 1px, red 1px , transparent);
 //background-size : auto line-height();
 //padding: line-height(2) line-height(1) 0;
 margin-top:0;
 -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-size:1em;
    font-weight: $normal;
}

/*
h1 {
 font-size: 3rem;
 font-weight: bold;
 //padding: #{\$base-line-height}rem 0;
 @include type-padding(0,0);
}

h2 {
 font-size: 4rem;
 @include type-padding(0,0);
}

h3 {
 font-size: 1rem;
 @include type-padding(0,0);
}
*/

ol {
 padding-left: 3rem;
}

li {
 @include type-padding(0,0);
}

p, ol, ul, dl, blockquote {
 padding-bottom: 0;
}

figure.wide {
 //margin: line-height() auto 0;
 height: line-height() * 20;
 overflow: hidden;
 width: 100%;

 img {
   width: 100%;
   top: 50%;
   left: 50%;
   position: relative;
   transform: translateY(-50%) translateX(-50%);
 }
}





// Text Selection style
::selection {
  background: $selection-color;
}

// Lobotomized Owls
// http://alistapart.com/article/axiomatic-css-and-lobotomized-owls

/* * + * {
    margin-top: 1.5em;
} */

.full { width: 100%; }

// Lists
// numbered list
.listOn ol li, ol.simpleList li{
    list-style-type: decimal;
    padding-left:.25em;margin-left:-.25em;// This makes IE display hung bullets
}

    // numbered list
    ol.simpleList li ol li{
        list-style-type:lower-alpha;
        padding-left:.25em;margin-left:-.25em;// This makes IE display hung bullets
    }

            // numbered list
            ol.simpleList li ol li ol li{
                list-style-type:lower-roman;
                padding-left:.25em;margin-left:-.25em;// This makes IE display hung bullets
            }

// standard list
.listOn ul li, ul.simpleList li{
    list-style-type:disc;
    padding-left:.25em;margin-left:-.25em;// This makes IE display hung bullets
}

    // numbered list
    ul.simpleList li ul li{
        list-style-type:circle;
        padding-left:.25em;margin-left:-.25em;// This makes IE display hung bullets
    }

ol.listSpace li	{
    padding-top: 1.5em;
}

// FORMS
input, textarea	{
    width: 100%;
    }



// Font Styles

.bold, strong	{ font-weight:700; }
.normal 		{ font-weight:300; }
.italic			{ font-style: italic !important; }
.upcase, .upCase, .caps	{ text-transform: uppercase;}
.inherit		{ font-size: inherit; }

// Text Align

.textCenter, .textC{ text-align:center; }
.textLeft, .textL	{ text-align:left; }
.textRight, .textR	{ text-align:right; }
.indent				{ text-indent: 3em; }
