---
layout: default
bodyclass: home
seoTitle: "Creating opportunities for STL's young creatives and experienced professionals"
seoDescription: St. Louis Artworks provides job training in the arts to creative teens in St. Louis.
featureImg: artwork-187.jpg
featureStatement: "ART WORKS FOR YOU!"
title: ""
subtitle: "St. Louis ArtWorks Makes Art Work in STL!"
unique-cta: true
mega-cta-img: artwork-006.jpg
mega-cta-heading: Support Us
mega-cta-button-text: "Donate today!"
mega-cta-button-text-url: /support
reveal: programs
---

<main> <!-- need this for reveal panel to work -->

{% include img-banner.html %}

<!--<div class="mega-statement">-->
<!--    <h2 class="mega-statement__heading editable" style="line-height: 1; font-size: 4rem;">-->
<!--        Young at Art celebration!<br><br>-->
<!--        <a href="https://www.eventbrite.com/e/young-at-art-a-celebration-of-st-louis-artworks-tickets-41957566210?aff=ehomecard"><img src="/images/yaa-main-image.jpg" /></a><br>-->
        
<!--        <a href="https://www.eventbrite.com/e/young-at-art-a-celebration-of-st-louis-artworks-tickets-41957566210?aff=ehomecard">join us for a party</a> that only St. Louis ArtWorks would throw, the Young at Art celebration of ArtWorks accomplishments, accolades and aspirations.-->
<!--    </h2>-->
<!--</div>-->

<div class="mega-statement">
    <h2 class="mega-statement__heading editable" style="line-height: 1; font-size: 4rem;">
        Making Art Wor!<br><br>
        <span><img src="/images/jump.jpg" /></span><br>
        
        Our summer program is in full throttle, June 11th, and we are excited to kick off the summer with 95 apprentices...our 3rd largest summer in the Loop East!  
    </h2>
</div>



<hr />

{% include article-cta.html %}

<div class="mega-statement">
    <h2 class="mega-statement__heading editable" style="line-height: 1; font-size: 4rem;">
        Winner of the 2016<br>National Arts and Humanities<br>Youth Program Award!<br>
        <a href="http://www.nahyp.org/"><img src="/images/NAHYP-logo.jpg" /></a><br>
        <a href="/NAHYP-Award-2016/">Click here to read all about it!</a>
    </h2>
</div>

<div class="responsive-video-embed">
    <iframe src="https://player.vimeo.com/video/191927820?byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<div class="mega-statement">
    <h2 class="mega-statement__heading editable">Learn about our creative PROGRAMS!</h2>
</div>

{% include reveal-box.html %}
</main>

<!-- Had to split this into two for CloudCannon's html parser. Currently, all tags need to close within the same file -->
{% include reveal-box-end.html %}