---
layout: default
bodyclass: home
layer1-img: artwork-013.jpg
layer2-img: ville-02.jpg
layer3-img: background-001.jpg
---
<main>
<div class="homepage__feature" style="background-image: url('/images/{{page.layer1-img}}');">
    <div class="homepage__box-white">
        <h2>ART WORKS FOR YOU</h2>
        <p>{% include svg-icons/slawcube.html %}</p>
    </div>
</div>


<section id="cd-team" class="cd-section">
    <div class="cd-container">
        <h2>Programs</h2>
        <ul>
            {% for program in site.programs %}
            <li>
                <a href="#0" data-type="{{program.feature-img | | remove: '.jpg'}}">
                    <figure style="background-image: url('/images/{{program.feature-img}}');">
                        <!-- <img src="/images/{{program.feature-img}}" alt="Team member 1"> -->
                        <div class="cd-img-overlay"><span>View Bio</span></div>
                    </figure>
                    <div class="cd-member-info">{{program.title}}</div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div> <!-- cd-container -->
</section> <!-- cd-team -->

<div class="cd-overlay"></div>
</main>


{% for program in site.programs %}
<div class="cd-member-bio {{program.feature-img | | remove: ".jpg"}}">
    <div class="cd-member-bio-pict">
        <img src="/images/{{program.feature-img}}" alt="{{program.title}}">
    </div> <!-- cd-member-bio-pict -->

    <div class="cd-bio-content">
        <h1>{{program.title}}</h1>
        {{ content }}
    </div> <!-- cd-bio-content -->
</div> <!-- cd-member-bio -->
{% endfor %}

<a href="#0" class="cd-member-bio-close">Close</a>

<div class="homepage__apply" style="background-image: url('/images/{{page.layer2-img}}');">
    <div class="homepage__box-white">
        <h2>Join us!</h2>
        <p><a class="homepage__applyButton" href="#">Apply today!</a></p>
    </div>
</div>


<div class="homepage__message">
    <div class="homepage__message_text_block">
        <h2 class="condensed">
            <a class="heading__link-blue" href="#">ArtWorks is looking for an Art Therapist to join
the team from January-July 2015</a>
        </h2>
        <p>SLAW seeks a part-time Art Therapist to work as a contractor for a grant funded position for our spring and summer sessions,  January 24,2015-May 2,2015 and the summer session June 8,2015-July 24, 2015.  SLAW is beginning a project to assess the impact of the ArtWorks Program on the behavioral health of youth participants. SLAW is seeking interested applicants with experience leading therapeutic activities and a background in an educational environment, working as part of a team, is a plus.</p>
        <p class="textCenter"><a class="homepage__readMoreButton" href="#">Read more</a></p>
    </div>
</div>


<div class="homepage__mission">
    <div class="homepage__mission_text_block">
        <h2 class="condensed">
            <a class="heading__link-blue" href="#">We are on a mission</a>
        </h2>
        <p>We are on a mission to create job training for young creatives.</p>
        <p class="textCenter"><a class="homepage__readMoreButton" href="#">Read more</a></p>
    </div>
</div>
