// http://codepen.io/chriscoyier/pen/zDGkw
.circle-badge {
    display:block;
    background:black;
    height:6em;
    width:6em;
    border-radius:5em;
    text-decoration:none;
    text-align:center;
    border: .25em solid white;
    padding: 1em;
    box-shadow: 0 0 0 .5em black;
    //box-shadow: 0 0 0 .1em white, 0 0 0 .35em red, 0 0 0 .45em white, 0 0 0 .7em red;
    position: relative;
}

.circle-badge:before,
.circle-badge:after {
    content: "";
    position: absolute;
    height: .5em;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    top: 45%;
    width: 800px;
}
.circle-badge:before {
    right: 100%;
    margin-right: 1.5em;
}
.circle-badge:after {
    left: 100%;
    margin-left: 1.5em;
}


// Rectangle badge
.rect-badge {
  background-color:#9277bb;
  text-align:center;
  border: 3px solid #fff;
  box-shadow: 0 0 0 3px #9277bb, 0 15px 15px -10px black;
  display: inline-block;
  padding:0 .25em;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #333;
  letter-spacing: 1px;
  color: white;
}

a.rect-badge:hover {
  background-color:#491c8d;
  box-shadow: 0 0 0 3px #491c8d;
  color: white;
}

.rect-badge-green {
  background-color:#6b1246;
  text-align:center;
  border: 3px solid #fff;
  box-shadow: 0 0 0 3px #6b1246, 0 15px 15px -10px black;
  display: inline-block;
  padding:0 .25em;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #333;
  letter-spacing: 1px;
  color: white;
}
