<nav class="laxnav">
    <div class="laxnav__bar">
      <a class="brand" href="/" target="_blank">STLOUISARTWORKS</a>
      <span class="menu icon" title="Menu (Esc)" tabindex="0" data-icon="m"><span>Menu</span></span>
    </div>

    <div id="laxnav__menu">
      <ul>
        <li>
            <span>Young creatives UNITE!</span>
            <a href="#" class="about" title="About SLAW">About</a>
        </li>
        <li>
            <span>Best creative programs in STL period.</span>
            <a href="#" class="portfolio" title="My Portfolio">Programs</a>
        </li>
        <li>
            <span>We can’t wait to meet you!</span>
            <a href="#" class="blog" title="My Blog">Apply</a>
        </li>
        <li>
            <span>Get ready to meet the best young creatives in STL!</span>
            <a href="#" class="blog" title="My Blog">Apprentices</a>
        </li>
        <li>
            <span>We make a lot of cool stuff!</span>
            <a href="#" class="blog" title="My Blog">Artwork</a>
        </li>
        <li>
            <span>Our instructors are AMAZING!</span>
            <a href="#" class="blog" title="My Blog">Instructors</a>
        </li>
        <li>
            <span>We have the best board in STL</span>
            <a href="#" class="blog" title="My Blog">Board</a>
        </li>
        <li>
            <span>There’s cool stuff happening everyday</span>
            <a href="#" class="labs" title="My Lab">Blog</a>
        </li>
        <li>
            <span>Sharing is caring!</span>
            <a href="#" class="contact" title="Contact Me">Support</a>
        </li>
        <li>
            <span>How can we help?</span>
            <a href="#" class="contact" title="Contact Me">Contact</a>
        </li>
      </ul>
    </div>
</nav>
