<nav class="laxnav">
    <div class="laxnav__bar">
      <a class="brandmark" href="/" target="_blank">
          <span>S</span>
          <span>T</span>
          <span>L</span>
          <span>O</span>
          <span>U</span>
          <span>I</span>
          <span>S</span>
          <span class="a">A</span>
          <span class="r">R</span>
          <span class="t">T</span>
          <span>W</span>
          <span>O</span>
          <span>R</span>
          <span>K</span>
          <span>S</span>
          <span class="tagline">/Creative job training</span>
        </a>

      <span class="menu icon" title="Menu (Esc)" tabindex="0" data-icon="m">
          <span>Menu</span>
      </span>
    </div>

    <div id="laxnav__menu" class="laxnav__menu">
      <ul>
        <li class="laxnav__menu-list-item">
            <a href="#" class="laxnav__menu-list-anchor" title="About">
                <span class="laxnav__link-text">About</span>
                <span class="laxnav__link-teaser">Young creatives UNITE!</span>
            </a>

        </li>
        <li class="laxnav__menu-list-item">
            <a href="#" class="laxnav__menu-list-anchor" title="Programs">
                <span class="laxnav__link-text">Programs</span>
                <span class="laxnav__link-teaser">Best creative programs in STL period.</span>
            </a>
        </li>
        <li class="laxnav__menu-list-item">
            <a href="#" class="laxnav__menu-list-anchor" title="Apply">
                <span class="laxnav__link-text">Apply</span>
                <span class="laxnav__link-teaser">We can’t wait to meet you!</span>
            </a>
        </li>
        <li class="laxnav__menu-list-item">
            <a href="#" class="laxnav__menu-list-anchor" title="Apprentices">
                <span class="laxnav__link-text">Apprentices</span>
                <span class="laxnav__link-teaser">Get ready to meet the best young creatives in STL!</span>
            </a>
        </li>
        <li class="laxnav__menu-list-item">
            <a href="#" class="laxnav__menu-list-anchor" title="Artwork">
                <span class="laxnav__link-text">Artwork</span>
                <span class="laxnav__link-teaser">We make a lot of cool stuff!</span>
            </a>
        </li>
        <li class="laxnav__menu-list-item">
            <a href="#" class="laxnav__menu-list-anchor" title="Instructors">
                <span class="laxnav__link-text">Instructors</span>
                <span class="laxnav__link-teaser">Our instructors are AMAZING!</span>
            </a>
        </li>
        <li class="laxnav__menu-list-item">
            <a href="#" class="laxnav__menu-list-anchor" title="Board">
                <span class="laxnav__link-text">Board</span>
                <span class="laxnav__link-teaser">We have the best board in STL</span>
            </a>
        </li>
        <li class="laxnav__menu-list-item">
            <a href="#" class="laxnav__menu-list-anchor" title="Blog">
                <span class="laxnav__link-text">Blog</span>
                <span class="laxnav__link-teaser">There’s cool stuff happening everyday</span>
            </a>
        </li>
        <li class="laxnav__menu-list-item">
            <a href="#" class="laxnav__menu-list-anchor" title="Support">
                <span class="laxnav__link-text">Support</span>
                <span class="laxnav__link-teaser">Sharing is caring!</span>
            </a>
        </li>
        <li class="laxnav__menu-list-item">
            <a href="#" class="laxnav__menu-list-anchor" title="Contact">
                <span class="laxnav__link-text">Contact</span>
                <span class="laxnav__link-teaser">How can we help?</span>
            </a>
        </li>
      </ul>
    </div>
</nav>
