{% for post in site.posts %}
    {% if post.homepage == true %}
      {% capture count %}{{ count | plus: '1' }}{% endcapture %}
      {% if count == '1' %}

        <div class="articleCTA">
            <div class="articleCTA__container">
                <h2 class="articleCTA__heading">
                    <a class="articleCTA__headingLink" href="{{ post.url }}">{{ post.title  }}</a>
                </h2>
                <div class="articleCTA__md">
                    <p>{{ post.teaser }}</p>
                </div>
                <p class="articleCTA__text">
                  <a class="articleCTA__button" href="{{ post.url }}">Read more</a>
                </p>
            </div>
        </div>

      {% endif %}
  {% endif %}
{% endfor %}
