<!-- http://scotch.io/bar-talk/all-favicons-for-all-devices-and-sizes -->

<link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="{{ site.url }}/favicon.ico">
<link rel="apple-touch-icon" sizes="57x57" href="{{ site.url }}/images/icons/favicon-57.png">
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ site.url }}/images/icons/favicon-57.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ site.url }}/images/icons/favicon-72.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}/images/icons/favicon-114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{ site.url }}/images/icons/favicon-120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{ site.url }}/images/icons/favicon-144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{ site.url }}/images/icons/favicon-152.png">
<meta name="application-name" content="Scotch Scotch scotch">
<meta name="msapplication-TileImage" content="{{ site.url }}/images/icons/favicon-144.png">
<meta name="msapplication-TileColor" content="#2A2A2A">
