<div class="flipGallery">
    <h2 class="flipGallery__heading">Sponsors</h2>
    {% for sponsor in site.data.sponsors %}
    <div class="flipGallery__container" ontouchstart="this.classList.toggle('hover');">
    	<div class="flipGallery__flipper">
    		<div class="flipGallery__front">
    			<img src="/images/{{ sponsor.image }}" alt="" >
    		</div>
    		<div class="flipGallery__back">
                <h3 class="flipGallery__back__heading">{{ sponsor.sponsor }}</h3>
                <p class="flipGallery__back__text">{{ sponsor.description }}</p>
    		</div>
    	</div>
    </div>
    {% endfor %}
</div>
