<div class="flipGallery">
  <div class="flipGallery__container">

    <h2 class="flipGallery__heading">Sponsors</h2>
    {% for sponsor in site.data.sponsors %}
    <div class="flipGallery__box" ontouchstart="this.classList.toggle('hover');">
    	<div class="flipGallery__flipper">
    		<div class="flipGallery__front">
                <img src="/images/loader.png" data-src="/images/{{ sponsor.image }}" class="lazyload" alt="Sponsor logo">
    		</div>
    		<div class="flipGallery__back">
    		    {% if sponsors.url %}
                <h3 class="flipGallery__back__heading"><a href={{ sponsor.url }}>{{ sponsor.sponsor }}</a></h3>
                {% else %}
                <h3 class="flipGallery__back__heading">{{ sponsor.sponsor }}</h3>
                {% endif %}
                <p class="flipGallery__back__text">{{ sponsor.description }}</p>
    		</div>
    	</div>
    </div>
    {% endfor %}

  </div>
</div>
