<div class="layercake__footer">
  <div class="width">
    <footer class="footer">
        <p>St. Louis ArtWorks / Centene Center for Arts and Education
3547 Olive Street Suite 280 Mezzanine Level St. Louis, MO 63103-1014 /
P: <a href="tel:3142894180">314-289-4180</a> / F:314-289-4189 fax / E: info@stlartworks.org</p>

      {% include svg-icons.html %}

        <div class="stay">
          <a href="https://twitter.com/share" class="twitter-share-button" data-via="stlartworks" data-related="stlartworks">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    &bull; Created by <a href="http://twitter.com/stlartworks" target="_blank" title="Brownerds on Twitter">stlartworks</a>
    &bull; Source code on <a href="http://github.com/stlartworks" target="_blank" title="GitHub">GitHub</a>
</div>
    </footer>


  </div>
</div>

<script src="js/modernizr.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="js/nav-laxbar.js"></script>
