<div class="layercake__footer">
  <div class="width" style="text-align: center;">
      <a class="brandmark" href="/" target="_blank">
          <span>S</span>
          <span>T</span>
          <span>L</span>
          <span>O</span>
          <span>U</span>
          <span>I</span>
          <span>S</span>
          <span class="a">A</span>
          <span class="r">R</span>
          <span class="t">T</span>
          <span>W</span>
          <span>O</span>
          <span>R</span>
          <span>K</span>
          <span>S</span>
<!--           <span class="tagline">/Creative job training</span> -->
        </a>

    <footer class="footer">
        <p style="text-align: center;">Centene Center for Arts and Education<br>
3547 Olive Street Suite 280 Mezzanine Level St. Louis, MO 63103-1014<br>
P: <a href="tel:3142894180">314-289-4180</a> / E: info@stlartworks.org</p>
        {% include svg-icons.html %}
    </footer>
  </div>
</div>

<script src="/js/modernizr.js"></script>
<script src="/js/nav-laxbar.js"></script>
<script src="/js/easypiechart.js"></script>
<script src="/js/reveal-box.js"></script>
<script src="/js/scripts.js"></script>
