<footer class="footer">
  <div class="width" style="text-align: center;">
    <a class="brandmark-bottom" href="/" target="_blank">
      <span>S</span>
      <span>T</span>
      <span>L</span>
      <span>O</span>
      <span>U</span>
      <span>I</span>
      <span>S</span>
      <span class="a">A</span>
      <span class="r">R</span>
      <span class="t">T</span>
      <span>W</span>
      <span>O</span>
      <span>R</span>
      <span>K</span>
      <span>S</span>
<!--  <span class="tagline">/Creative job training</span> -->
    </a>
    <p class="footer__text editable">St. Louis Artworks<br>
    <a href="https://www.google.com/maps/place/5959+Delmar+Blvd,+St+Louis,+MO+63112/@38.655131,-90.292749,17z/data=!3m1!4b1!4m2!3m1!1s0x87df4aacff16250b:0xef4a139e5304dde7">5959 Delmar Boulevard, St. Louis, MO 63112</a><br>
    P: <a href="tel:3148999734">314-899-9734</a> / E: <a href="mailto:info@stlartworks.org">info@stlartworks.org</a></p>
    <p><a href="/privacy-policy">Privacy Policy</a> | <a href="/uploads/St.-Louis-ArtWorks-990-for-2020---for-donors-and-funders.pdf">990 2020</a> | <a href="/uploads/990-2017-slaw.pdf">990 2017</a> | <a href="/uploads/990-2016-slaw.pdf">990 2016</a> | <a href="/uploads/990-2015-slaw.pdf">990 2015</a></p>
    {% include svg-icons.html %}
    <p>
      <a title="St Louis ArtWorks BBB Charity Seal" href="https://www.bbb.org/charity-reviews/stlouis/st-louis-artworks-in-saint-louis-mo-310482094/#sealclick"><img alt="St Louis ArtWorks BBB Charity Seal" style="border: 0;" src="http://seal-stlouis.bbb.org/charity-seals/hor-150-57/st-louis-artworks-310482094.png" /></a>
    </p>
  </div>
</footer>

<script src="/js/modernizr.js"></script>
<script src="/js/nav-laxbar.js"></script>
<script src="/js/easypiechart.js"></script>
<script src="/js/reveal-box.js"></script>
<script src="/js/jquery.fitvids.js"></script>
<script src="/js/scripts.js"></script>

