<head>
  <meta charset="utf-8" />
  <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

  <title>STLOUISARTWORKS | {{ page.seoTitle }}</title>

  <meta name="author" content="{{ site.name }}" />
  <meta name="description" content="{{ page.seoDescription }}">

  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="{{ site.name }}">
  <meta itemprop="description" content="{{ page.seoDescription }}">
  <meta itemprop="image" content="{{site.url}}/images/slaw-cube.png">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="{{ site.social-media.twitter }}">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.seoDescription }}">
  <meta name="twitter:creator" content="{{ site.social-media.twitter }}">
  <!-- Twitter summary card with large image must be at least 280x150px -->
  <meta name="twitter:image:src" content="{{site.url}}/images/slaw-cube.png">

  <!-- Open Graph data -->
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{page.url}}" />
  <meta property="og:image" content="{{site.url}}/images/slaw-cube.png" />
  <meta property="og:description" content="{{ page.seoDescription }}" />
  <meta property="og:site_name" content="{{ site.name }}" />
<!--   <meta property="article:section" content="Article Section" /> -->
<!--   <meta property="article:tag" content="Article Tag" /> -->
  <meta property="fb:admins" content="118522357975" />

  <link rel="canonical" href="{{ site.url }}/{{ page.url }}">

  <script src="//use.typekit.net/rtn4lgy.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <script src="/js/lazysizes.min.js" async=""></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
</head>
