<div class="main-content">
    <div class="main-content__container">
        <h2 class="main-content__heading">
          <span class="bold editable">{{ page.title }}</span>
          {% if page.subtitle %}
            : {{ page.subtitle }}
          {% endif %}
        </h2>

        {% if page.bodyclass == 'post' %}
            <p class="main-content__date">{{ page.date | date: "%B %e, %Y" }}</p>
        {% endif %}

        <div class="main-content__md editable">
          {{ content }}

          {% if page.apply %}
            {% include apply-wufoo.html %}
          {% endif %}

        </div>
    </div>
</div>
