<div class="main-content">
    <div class="main-content__container">
        <h2 class="main-content__heading">
          <span class="bold editable">{{ page.title }}</span>
          {% if page.subtitle %}
            : {{ page.subtitle }}
          {% endif %}
        </h2>
        
        {% if page.bodyclass == 'post' && event %}
            <p class="mainContent__date">{{ event }}</p>
        {% elseif page.bodyclass == 'post' %}
            <p class="mainContent__date">{{ page.date | date: "%B %e, %Y" }}</p>
        {% endif %}
        
        <div class="main-content__md">
          {{ content }}
          
          
          {% if page.apply %}
            <div>
              {% include apply-wufoo.html %}
            </div>
          {% endif %}
        </div>
    </div>
</div>
