<section id="reveal-gallery" class="reveal">
  <div class="reveal__container">
    <ul>
    {% for item in site.data.[page.reveal] %}
      <li>
        <a href="/" data-type="{{item.photo | remove: '.jpg'}}">
          <figure class="reveal__figure" style="background-image: url('/images/{{item.photo}}');">
            <!-- <img src="/images/{{program.photo}}" alt="Team item 1"> -->
            <div class="reveal__img-overlay">
                <span>Read more</span>
            </div>
          </figure>
          <div class="reveal__box-info">
            {{item.name}}
            {% if item.discipline %}
              / <small>{{item.discipline}}</small>
            {% endif %}
          </div>
        </a>
      </li>
    {% endfor %}
    </ul>
  </div> <!-- reveal__container -->
</section> <!-- reveal__gallery -->

<div class="reveal__overlay"></div>

{% if page.unique-cta == true %}
{% include uniqueCTA.html %}
{% else %}
{% include megaCTA.html %}
{% endif %}

</main>


{% for item in site.data.[page.reveal] %}
<div class="reveal-panel {{item.photo | remove: ".jpg"}}">
    <div class="reveal-panel__pic">
        <div class="reveal-panel__pic-flexembed" style="background-image: url('/images/{{item.photo}}');"></div>
    </div>

    <div class="reveal-panel__bio-content">
        <h2 class="reveal-panel__bio-content-title">{{item.name}}</h2>
        {% if page.bodyClass == staff || board %}
        <h3 class="reveal-panel__bio-content-subtitle">{{item.title}}</h3>
        {% endif %}
        <div class="reveal-panel__bio-content-md">
            {{ item.content }}

            {% if site.apply == 'open' %}
            <p><a class="articleCTA__button" href="/apply">Apply now!</a></p>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}


<a href="/" class="reveal-panel__close">Close</a>
