<section id="reveal-gallery" class="reveal">
  <div class="reveal__container">
    <ul>
    {% for item in site.data[page.reveal] %}
      <li>
        <a href="/" data-type="{{item.photo | remove: '.jpg'}}">
          <figure class="reveal__figure" style="background-image: url('/images/{{item.photo}}');">
            <!-- <img src="/images/{{program.photo}}" alt="Team item 1"> -->
            <div class="reveal__img-overlay">
                <span>Read more</span>
            </div>
          </figure>
          <div class="reveal__box-info">
            {{item.name}}
            {% if item.discipline %}
              / <small>{{item.discipline}}</small>
            {% endif %}
          </div>
        </a>
      </li>
    {% endfor %}
    </ul>
  </div> <!-- reveal__container -->
</section> <!-- reveal__gallery -->

<div class="reveal__overlay"></div>

{% if page.unique-cta == true %}
  {% include unique-cta.html %}
{% else %}
  {% include mega-cta.html %}
{% endif %}
