          {% if site.footer-links.dribbble %}
              <a class="social-icons" href="http://dribbble.com/{{ site.footer-links.dribbble }}">{% include svg-icons/dribbble.html %}</a>
          {% endif %}

          {% if site.footer-links.email %}
              <a class="social-icons" href="mailto: {{ site.footer-links.email }}">{% include svg-icons/email.html %}</a>
          {% endif %}

          {% if site.footer-links.facebook %}
              <a class="social-icons" href="http://facebook.com/{{ site.footer-links.facebook }}">{% include svg-icons/facebook.html %}</a>
            {% endif %}

          {% if site.footer-links.flickr %}
              <a class="social-icons" href="http://flickr.com/{{ site.footer-links.flickr }}">{% include svg-icons/flickr.html %}</a>
            {% endif %}

          {% if site.footer-links.github %}
              <a class="social-icons" href="http://github.com/{{ site.footer-links.github }}">{% include svg-icons/github.html %}</a>
          {% endif %}

          {% if site.footer-links.instagram %}
              <a class="social-icons" href="http://instagram.com/{{ site.footer-links.instagram }}">{% include svg-icons/instagram.html %}</a>
          {% endif %}

          {% if site.footer-links.linkedin %}
              <a class="social-icons" href="http://linkedin.com/in/{{ site.footer-links.linkedin }}">{% include svg-icons/linkedin.html %}</a>
          {% endif %}

          {% if site.footer-links.pinterest %}
              <a class="social-icons" href="http://pinterest.com/{{ site.footer-links.pinterest }}">{% include svg-icons/pinterest.html %}</a>
          {% endif %}

          {% if site.footer-links.rss %}
              <a class="social-icons" href="{{ site.baseurl }}/feed.xml">{% include svg-icons/rss.html %}</a>
          {% endif %}

          {% if site.footer-links.twitter %}
              <a class="social-icons" href="http://twitter.com/{{ site.footer-links.twitter }}">{% include svg-icons/twitter.html %}</a>
          {% endif %}

          {% if site.footer-links.stackoverflow %}
              <a class="social-icons" href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}">{% include svg-icons/stackoverflow.html %}</a>
          {% endif %}
