          {% if site.social-media.dribbble %}
              <a class="social-icons" href="http://dribbble.com/{{ site.social-media.dribbble }}">{% include svg-icons/dribbble.html %}</a>
          {% endif %}

          {% if site.social-media.email %}
              <a class="social-icons" href="mailto: {{ site.social-media.email }}">{% include svg-icons/email.html %}</a>
          {% endif %}

          {% if site.social-media.facebook %}
              <a class="social-icons" href="http://facebook.com/{{ site.social-media.facebook }}">{% include svg-icons/facebook.html %}</a>
            {% endif %}

          {% if site.social-media.flickr %}
              <a class="social-icons" href="http://flickr.com/{{ site.social-media.flickr }}">{% include svg-icons/flickr.html %}</a>
            {% endif %}

          {% if site.social-media.github %}
              <a class="social-icons" href="http://github.com/{{ site.social-media.github }}">{% include svg-icons/github.html %}</a>
          {% endif %}

          {% if site.social-media.instagram %}
              <a class="social-icons" href="http://instagram.com/{{ site.social-media.instagram }}">{% include svg-icons/instagram.html %}</a>
          {% endif %}

          {% if site.social-media.linkedin %}
              <a class="social-icons" href="http://linkedin.com/in/{{ site.social-media.linkedin }}">{% include svg-icons/linkedin.html %}</a>
          {% endif %}

          {% if site.social-media.pinterest %}
              <a class="social-icons" href="http://pinterest.com/{{ site.social-media.pinterest }}">{% include svg-icons/pinterest.html %}</a>
          {% endif %}

          {% if site.social-media.rss %}
              <a class="social-icons" href="{{ site.baseurl }}/feed.xml">{% include svg-icons/rss.html %}</a>
          {% endif %}

          {% if site.social-media.twitter %}
              <a class="social-icons" href="http://twitter.com/{{ site.social-media.twitter }}">{% include svg-icons/twitter.html %}</a>
          {% endif %}

          {% if site.social-media.stackoverflow %}
              <a class="social-icons" href="http://stackoverflow.com/{{ site.social-media.stackoverflow }}">{% include svg-icons/stackoverflow.html %}</a>
          {% endif %}
