body {
    //background: $dirt;
    color:$charcoal;
    font-family:$sans;
    font-size:18px;
    line-height:1.5;
    //padding-top: 54px;
    //text-shadow: 1px 1px 1px #fff;
    -webkit-font-smoothing: antialiased;
}

// Text Selection style
::selection {
  background: $selection-color;
}

// Lobotomized Owls
// http://alistapart.com/article/axiomatic-css-and-lobotomized-owls

/* * + * {
    margin-top: 1.5em;
} */

h1, h2, h3, h4, h5, h6 {
    font-size:1em;
    font-weight: $normal;
}

.full { width: 100%; }

// Lists
// numbered list
.listOn ol li, ol.simpleList li{
    list-style-type: decimal;
    padding-left:.25em;margin-left:-.25em;// This makes IE display hung bullets
}

    // numbered list
    ol.simpleList li ol li{
        list-style-type:lower-alpha;
        padding-left:.25em;margin-left:-.25em;// This makes IE display hung bullets
    }

            // numbered list
            ol.simpleList li ol li ol li{
                list-style-type:lower-roman;
                padding-left:.25em;margin-left:-.25em;// This makes IE display hung bullets
            }

// standard list
.listOn ul li, ul.simpleList li{
    list-style-type:disc;
    padding-left:.25em;margin-left:-.25em;// This makes IE display hung bullets
}

    // numbered list
    ul.simpleList li ul li{
        list-style-type:circle;
        padding-left:.25em;margin-left:-.25em;// This makes IE display hung bullets
    }

ol.listSpace li	{
    padding-top: 1.5em;
}

// FORMS
input, textarea	{
    width: 100%;
    }


// Font Styles

.bold, strong	{ font-weight:700; }
.normal 			{ font-weight:300; }
.italics				{ font-style: italic !important; }
.upcase, .upCase, .caps	{ text-transform: uppercase;}
.inherit			{ font-size: inherit; }

// Text Align

.textCenter, .textC{ text-align:center; }
.textLeft, .textL	{ text-align:left; }
.textRight, .textR	{ text-align:right; }
.indent				{ text-indent: 3em; }
