// Typeface(s) and Fonts
//
$sans: "URWGrotesk-Reg", sans-serif;
$sans-italic: "URWGrotesk-RegIta", sans-serif;

$sans-bold: "URWGrotesk-Bol", sans-serif;
$sans-bold-italic: "URWGrotesk-BolIta", sans-serif;

$sans-condensed-light: "URWGroteskCon-Lig", sans-serif;
$sans-condensed-bold: "URWGroteskCon-Bol", sans-serif;

$cursive: "learning-curve";

$monospace: "Courier New", monospace; // for code highlighting
//$serif       // "Source Serif Pro"
//$slab        // "Museo Slab"

//$condensed   //
//$thick       // "Quatro"

// Weight(s)
// Related to Source Sans Pro (Typekit)
//
//$hairline:200;
//$light: 300;
$normal: normal;
//$bold: 700;
//$heavy:900;


// Brand Colors

$gooeybutter: #fec057;
$cardinalred: #ef3e42;
$stlouisblues: #007ac2;
$archgray: #a5a7aa;


// General Colors

$white: #fff;
$black: #000;
$charcoal: #333;
$graphite: #ccc;
$silver: #f5f5f5;
$dirt: #e8e8e2;
//$red: #f00;
//$yellow: #ff0;
//$gold: #f1c40f;

// Apply color to component
//
//$brandmark-color: $red;
$text-link-color: $stlouisblues;
$text-link-color-hover: $cardinalred;

$nav-link-color: $stlouisblues;

$button-color: $stlouisblues;

$error-text-color: $cardinalred;

$selection-color: $gooeybutter;

$codeColor : $graphite;

// Utilities
$default-borderRadius: 5px;



// Place Holders
@mixin box-shadow-bottom() {
    box-shadow: 0 1px 0 $graphite;
}
