.about__feature {
    background-position:center center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:cover;
    @extend %condensed;
    //font-family: $sans-condensed-bold;
    width:100%;
    height:100%;
    position: relative;
    z-index: 0;

    &::before {
        content: " ";
        //background: rgba( $charcoal, 0.5 );
        height: 100%;
        width: 100%;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;

        background:
            -webkit-linear-gradient(top,
            rgba(255,255,255,0) 0%,
            rgba(0,0,0,0) 1%,
            rgba(0,0,0,0.05) 26%,
            rgba(0,0,0,0.5) 71%,
            rgba(0,0,0,0.7) 100%);
    }
}

.about__box-white {
    @extend %box-white;
}

.about__page {
    background: $white;
}


.about__page_text_block {
    @extend %main-reading-format;
    @extend %main-reading-format-h2;
    @extend %main-reading-format-h3;
}



.gen-stat {
    display: inline-block;
    @extend %condensed;
    font-size: 2em;
    padding: 0 3rem;

    span {
        font-size: 5rem;
    }
}




.chart__box {
    background: $cardinalred;
    //box-shadow: 1px 1px 0 $charcoal;
    color: white;
    margin-bottom: 1px;
    padding-bottom: 3rem;
    text-align: center;

    @extend %main-reading-format-h2;
    @extend %main-reading-format-h3;

    p {
        margin: 0 auto 1.5rem;
        text-align: left;
        width: 50%
    }
}

.chart {
    position: relative;
    display: inline-block;
    margin: 1em;

    canvas {
        position: absolute;
        top: 0; left: 0;
    }
}

.chart__percent {
    display: inline-block;

    &::after {
        content: "%";
    }
}
