// FlexEmbed COVER Image Ratios

// http://nicolasgallagher.com/flexible-css-cover-images/
// http://codepen.io/necolas/pen/Aksni
// http://www.sitepoint.com/maintain-image-aspect-ratios-responsive-web-design/

@mixin flexEmbed($height, $ratio) {  //Ratios %50 or %75
    display: block;
    overflow: hidden;
    position: relative;

    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: $height;
    max-width: 100%;

    &:after {
        content: "";
        display: block;
        padding-bottom: $ratio;
        width: 100%;
    }
}

// Regular
// @include flexEmbed(400px, 50%);

// Large
//@include flexEmbed(550px, 75%);
