<svg xmlns="https://www.w3.org/2000/svg" style="display: none;">
    <symbol id="crown" viewBox="0 0 169 141.3">
        <polygon fill="none" stroke="#231F20" stroke-width="10" stroke-miterlimit="10" points="5.4,33.1 106.3,136.3 5,136.3 	"/>
        <polygon fill="none" stroke="#231F20" stroke-width="10" stroke-miterlimit="10" points="163.6,33.1 62.8,136.3 164,136.3 	"/>
        <polygon fill="none" stroke="#231F20" stroke-width="10" stroke-miterlimit="10" points="88.1,11.6 24.9,136.3 144.1,136.3 	"/>
    </symbol>
</svg>

<svg class="crown"><use xlink:href="#crown" /></svg>
