.articleList {
    background-color: $silver;
    box-shadow: 0 -1px 0 $archgray;
    padding: 3em 0;

    &__container {
        margin: 0 auto;
        width: 50%;
    }

    &__heading {
        box-shadow: 0 1px 0 $archgray;
        font-family: $sans-condensed-light;
        font-size: 2em;
        line-height: 1;
    }

    &__link {
        color: $stlouisblues;
        display: block;
        padding: .25em;

        &:hover {
            background-color: $cardinalred;
            color: $white;
        }
    }
}
