.articleCTA {
    background: $gooeybutter;
    padding-bottom: 3em;

    &__container {
        width: 50%;
        margin: 0 auto;
    }

    &__heading {
        color: $charcoal;
        font-family: $sans-condensed-light;
        font-size: 3em;
        line-height: 1;
        padding-top: 5rem;
        position: relative;
        text-align: center;
        text-transform: uppercase;

        &::after {
            box-shadow: 1px 1px 0 $charcoal;
            content: "";
            display: block;
            height: 1px;
            width: 15rem;
            margin: .75em auto;
        }
    }

    &__headingLink {
        color: $stlouisblues;

        &:hover {
            color: $cardinalred;
        }
    }

    &__md {
        color: $charcoal;
    }

    &__text {
        text-align: center;
    }

    &__button {
        @include button(3rem);
    }


}
