// FlexEmbed COVER Image Ratios

// http://nicolasgallagher.com/flexible-css-cover-images/
// http://codepen.io/necolas/pen/Aksni
// http://www.sitepoint.com/maintain-image-aspect-ratios-responsive-web-design/

%flexEmbed {
    display: block;
    overflow: hidden;
    position: relative;

    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 400px;
    max-width: 100%;

    &:after {
        content: "";
        display: block;
        padding-bottom: 50%;
        width: 100%;
    }
}

%flexEmbed75 {
    display: block;
    overflow: hidden;
    position: relative;

    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 550px;
    max-width: 100%;

    &:after {
        content: "";
        display: block;
        padding-bottom: 75%;
        width: 100%;
    }
}
