//http://davidwalsh.name/demo/css-flip.php

%flip-frontback {
    backface-visibility: hidden;
    transition: 0.6s;
    transform-style: preserve-3d;

    position: absolute;
    top: 0;
    left: 0;
}

%flip-height-width {
    width: 250px;
    height: 250px;
}

.flipGallery {
    background-color: $stlouisblues;
    text-align: center;

    &__heading {
        @include section-header($white, $white);
    }

    &__container {
        perspective: 1000;
        transform-style: preserve-3d;
        display: inline-block;
        margin: 0 1px 1px 1px;

        @extend %flip-height-width;

        /*  UPDATED! flip the pane when hovered */
        &:hover .flipGallery__back {
            transform: rotateY(0deg);
        }
        &:hover .flipGallery__front {
            transform: rotateY(180deg);
        }
    }
    &__front {
        @extend %flip-height-width;

    	/* hide back of pane during swap */
    	@extend %flip-frontback;

    }

    &__back {
    	@extend %flip-height-width;

    	/* hide back of pane during swap */
    	@extend %flip-frontback;

    	/* back, initially hidden pane */
      background-color: $gooeybutter;
      //color: white;
      font-size: 2em;
      padding-top: .5em;
  	  transform: rotateY(-180deg);

      &__heading{
          font-family: $sans-condensed-bold;
          line-height: 1;
      }

      &__text {
          font-family: $sans-condensed-light;
      }
    }

    /* flip speed goes here */
    &__flipper {
    	transition: 0.6s;
    	transform-style: preserve-3d;

    	position: relative;
    }
}
