//
// Link style from Codrops
// http://tympanus.net/codrops/2014/06/04/inspiration-for-inline-anchor-styles/
//

section {
	position: relative;
	z-index: 1; /* needed for setting pseudo-element z-index */
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
    //font-size: 2em;
}

section a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #404d5b;
	vertical-align: bottom;
	text-decoration: none;
	white-space: nowrap;
}

section a::before,
section a::after {
	pointer-events: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}






/* Scale up */
.link-scaleup {
	background: #34495e;
	color: #b4b4b4;
}

.link-scaleup a {
	color: #e74c3c;
	font-weight: 500;
}

.link-scaleup a:hover {
    color: $white;
}



.link-scaleup a::before {
	position: absolute;
	top: 0;
	left: -5px;
	z-index: -1;
	box-sizing: content-box;
	padding: 0 5px;
	width: 100%;
	height: 100%;
	//border-radius: 10px;
	background-color: $cardinalred;
	content: '';
	opacity: 0;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.link-scaleup a:hover::before,
.link-scaleup a:focus::before {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}







/* Flip */
.link-flip {
	background: rgba(149,165,166,0.2);
}

.link-flip a {
	font-weight: 500;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	-webkit-perspective: 600px;
	perspective: 600px;
	-webkit-perspective-origin: 50% 100%;
	perspective-origin: 50% 100%;
}

.link-flip a:hover,
.link-flip a:focus {
	color: #e74c3c;
}

.link-flip a::before,
.link-flip a::after {
	position: absolute;
	top: 0;
	left: -4px;
	z-index: -1;
	box-sizing: content-box;
	padding: 0 4px;
	width: 100%;
	height: 100%;
	content: '';
}

.link-flip a::before {
	background-color: #fff;
	-webkit-transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	-webkit-transform: rotateX(90deg);
	transform: rotateX(90deg);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}

.link-flip a:hover::before,
.link-flip a:focus::before {
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

.link-flip a::after {
	border-bottom: 2px solid #fff;
}
