@mixin mega-header($textColor: $charcoal, $underlineColor: $charcoal) {

}

@mixin section-header($textColor: $charcoal, $underlineColor: $charcoal) {
    color: $textColor;
    font-family: $sans-condensed-light;
    font-size: 3em;
    line-height: 1;
    padding-top: 5rem;
    position: relative;
    text-align: center;
    text-transform: uppercase;

    &::after {
        box-shadow: 1px 1px 0 $underlineColor;
        content: "";
        display: block;
        height: 1px;
        width: 15rem;
        margin: .75em auto;
    }
}

@mixin article-header($textColor: $charcoal, $underlineColor: $charcoal) {

}


// @include section-header($white, $white);
