.chartBox {
    background: $cardinalred;
    //box-shadow: 1px 1px 0 $charcoal;
    color: white;
    margin-bottom: 1px;
    padding-bottom: 3rem;
    text-align: center;

/*     @extend %main-reading-format-h2;
@extend %main-reading-format-h3; */

    &__heading {
        font-family: $sans-condensed-light;
        font-size: 3em;
        line-height: 1;
        padding-top: 5rem;
        position: relative;
        text-align: center;
        text-transform: uppercase;

        //@extend %box-shadow-bottom;

        &::after {
            box-shadow: 1px 1px 0 $white;
            content: "";
            display: block;
            height: 1px;
            width: 15rem;
            margin: .75em auto;
        }
    }

    &__stat {
        display: inline-block;
        font-family: $sans-condensed-light;
        font-size: 2em;
        padding: 0 3rem;

        span {
            font-size: 5rem;
        }
    }

    p {
        margin: 0 auto 1.5rem;
        text-align: left;
        width: 50%
    }
}





.chart {
    position: relative;
    display: inline-block;
    margin: 1em;

    canvas {
        position: absolute;
        top: 0; left: 0;
    }
}

.chart__percent {
    font-family: $sans-condensed-light;
    display: inline-block;
    font-size: 2em;

    &::after {
        content: "%";
    }
}
