.programLayer__column {
    margin: 0 auto;
    max-width: 75%;
}

.programLayer__title {
    font-family: $sans-condensed-light;
    font-size: 3em;
    line-height: 1;
    padding-top: 5rem;
    position: relative;
    text-align: center;
    text-transform: uppercase;

    //@extend %box-shadow-bottom;

    &::after {
        box-shadow: 1px 1px 0 $charcoal;
        content: "";
        display: block;
        height: 1px;
        width: 15rem;
        margin: .75em auto;
    }
}

.programLayer__text {
    margin: 0 auto;
    width: 75%;
}

.programLayer__image {
    @extend %flexEmbed;
}
