// http://codyhouse.co/gem/side-team-member-bio/

body {
  overflow-x: hidden;
}
body.overflow-hidden {
  // when author bio is visible, the out-of-focus content won't scroll
  overflow: hidden;
}

/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */
.reveal-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;

  &::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
  }
}

/* --------------------------------

Main components

-------------------------------- */
main {
  position: relative;
  //z-index: 2001;
  transition-property: transform;
  transition-duration: 0.3s;

  &.slide-out {
    /* the main element slides to the left when the author bio is visible */
    transform: translateX(-270px);

    .reveal-overlay {
      /* the overlay layer gets visible when the author bio slides in */
      display: block;
      animation: reveal-fade-in 0.3s;
    }
  }
}

@media only screen and (min-width: 768px) {
  main.slide-out {
    /* change in size of the author bio section */
    transform: translateX(-600px);
  }
}
@media only screen and (min-width: 1200px) {
  main.slide-out {
    transform: translateX(-800px);
  }
}

.reveal-section {
  padding: 1em 0;
  text-align: center;

  .reveal-container {
    /* this modifies the .reveal-container default max-width */
    max-width: 768px;
  }

  h2 {
    font-family: $sans-condensed-bold;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1em;
    // font-size: 20px;
    // font-size: 1.25rem;
  }

  p {
    //line-height: 1.4;
  }
}

@media only screen and (min-width: 768px) {
  .reveal-section {
    padding: 1em;
  }
  .reveal-section p {
    //line-height: 1.6;
  }
}
@media only screen and (min-width: 1200px) {
  .reveal-section {
    padding: 3em;
  }
  .reveal-section h2 {
    margin-bottom: 2em;
  }
  .reveal-section p {
    //line-height: 1.8;
    // font-size: 18px;
    // font-size: 1.125rem;
  }
}



.reveal-placeholder-1 {
  background: #f25f5c;
  color: #fdeaea;
}

.reveal-placeholder-2 {
  background: #FFF;
}

#reveal-gallery {
  background: $archgray;

  .reveal-container {
    max-width: 1200px;
  }

  h2 {
    color: #1a2f2a;
  }

  li {
    margin-bottom: 2em;
    border-radius: 0.25em;
    box-shadow: 0 0 10px rgba($gooeybutter, 0);
    transition: all 0.3s;
  }

  figure {
    position: relative;
    @extend %flexEmbed75;
  }

  img {
    display: block;
    width: 100%;
    border-radius: .25em .25em 0 0;
  }

  .reveal-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($stlouisblues, 0.9);
    opacity: 0;
    border-radius: .25em .25em 0 0;
    transition: opacity 0.3s;

    span {
      position: absolute;
      left: 50%;
      top: 50%;
      bottom: auto;
      right: auto;
      transform: translateX(-50%) translateY(-50%);
      color: #FFF;
      font-size: 2em;
      font-family: $sans-condensed-light;
    }
  }

  .reveal-box-info {
    background: $stlouisblues;
    text-align: center;
    font-family: $sans-condensed-light;
    font-weight: bold;
    padding: .25em 0;
    color: $white;
    font-size: 2em;
    text-transform: uppercase;

    span {
      display: block;
      font-weight: normal;
      //color: #999999;
      // font-size: 14px;
      // font-size: 0.875rem;
      margin-top: .5em;
    }
  }
}


.no-touch #reveal-gallery li:hover {
  box-shadow: 0 0 10px rgba($gooeybutter, 0.3);
}
.no-touch #reveal-gallery li:hover .reveal-img-overlay {
  opacity: 1;
}


@media only screen and (min-width: 768px) {
  #reveal-gallery li {
    display:inline-block;
    width: 45%;
  }
  #reveal-gallery li:nth-child(3n) {
    margin-right: 0;
  }
}

.reveal-panel-pict-flexembed {
    @extend %flexEmbed75;
}

.reveal-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 270px;
  height: 100%;
  overflow-y: auto;
  /* smooth scrolling on mobile phones and tablets */
  -webkit-overflow-scrolling: touch;
  background: $gooeybutter;
  z-index: 1001;
  /* this how we move the author bio section off the canvas */
  transform: translateX(270px);
  transition-property: transform;
  transition-duration: 0.3s;

  box-shadow: -10px 0 100px $charcoal;

  &.slide-in {
    /* the author bio section slides in when the user clicks on the team member picture */
    transform: translateX(0);
  }

  .reveal-panel-pict {
    position: relative;
  }

  .reveal-panel-pict::after {
    /* gradient at the bottom of the image - same color of the background of the section */
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(to top, $gooeybutter, rgba($gooeybutter, 0));
  }

  img {
    width: 100%;
    display: block;
  }

  .reveal-bio-content {
    padding: 1em;
    color: #FFF;

    h1 {
        color: $white;
        font-family: $sans-condensed-light;
        font-size: 3em;
        line-height: 1;
        padding-top: 5rem;
        position: relative;
        text-align: center;
        text-transform: uppercase;

        //@extend %box-shadow-bottom;

        &::after {
            box-shadow: 1px 1px 0 $charcoal;
            content: "";
            display: block;
            height: 1px;
            width: 15rem;
            margin: .75em auto;
        }
    }

    p {
      // font-size: 14px;
      // font-size: 0.875rem;
      margin: 1em 0;
      //line-height: 1.4;
      color: $charcoal;
    }
  }
}

.no-cssgradients .reveal-panel .reveal-panel-pict::after {
  display: none;
}

@media only screen and (min-width: 768px) {
  .reveal-panel {
    width: 600px;
    transform: translateX(600px);
  }
  .reveal-panel .reveal-bio-content {
    padding: 2em;
  }
  .reveal-panel .reveal-bio-content p {
    //line-height: 1.6;
    margin: 2em 0;
  }
}

@media only screen and (min-width: 1000px) {
  .reveal-panel {
    width: 900px;
    transform: translateX(1000px);
  }
  .reveal-panel .reveal-panel-pict::after {
    height: 150px;
  }
  .reveal-panel .reveal-bio-content {
    padding: 4em;
    /* we move the content up so the title is over the color gradient */
    transform: translateY(-80px);
  }
  .reveal-panel .reveal-bio-content h1 {
    // font-size: 40px;
    // font-size: 2.5rem;
  }
  .reveal-panel .reveal-bio-content p {
    // font-size: 16px;
    // font-size: 1rem;
  }
  .no-cssgradients .reveal-panel .reveal-bio-content {
    transform: translateY(0);
  }
}

.reveal-panel-close {
  width: 32px;
  height: 32px;
  overflow: hidden;
  position: fixed;
  top: 10px;
  right: 10px;
  background: url("/images/svg/reveal-icon-close.svg") no-repeat center center;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 3001;
  display: none;

  &.is-visible {
    display: block;
    animation: reveal-move-in 0.8s;
  }
}

@media only screen and (min-width: 1200px) {
  .reveal-panel-close {
    right: 20px;
    top: 20px;
  }
}

.reveal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($stlouisblues, 0.8);
  cursor: pointer;
  display: none;
  z-index:2000;
}

/* --------------------------------

xkeyframes

-------------------------------- */
@-webkit-keyframes reveal-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes reveal-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes reveal-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes reveal-move-in {
  0% {
    -webkit-transform: translateX(100px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes reveal-move-in {
  0% {
    -moz-transform: translateX(100px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes reveal-move-in {
  0% {
    transform: translateX(100px);
  }

  100% {
    transform: translateX(0);
  }
}
