<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    <meta name="author" content="{{ site.name }}" />
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>

    {% include analytics.html %}

    {% include nav/nav-laxbar.html %}

    <div class="container content-transition ">
        <div class="width">

            <h1 class="massiveHeading">Teehan+Lax Navigation</h1>

            <div id="content">
              <h1>This demo recreates the navigation of <a href="http://www.teehanlax.com" target="_blank">Teehan+Lax</a>. I reverse engineered their menu and wrote my own code to achieve similar functionality. Read more about it in <a href="http://alexcican.com/post/teehan-lax-navigation/" target="_blank">this blog post</a>.</h1>

              <h2>The navigation bar is being hidden once you start scrolling. As soon as you scroll up a few pixels it is shown. After that, when you scroll down again it gets hidden. When you have reached the bottom of this page the main menu reappears.</h2>

              <h2>Improvements over original:</h2>

              <h3>
                <ol>
                  <li>Navigate only with keyboard (Tab + Enter / Space).</li>
                  <li>Keyboard shortcuts (Esc / M).</li>
                  <li>Firefox animation fix.</li>
                  <li>Close navigation by clicking anywhere outside link area.</li>
                  <li>iOS 7 like blurring of background.</li>
                </ol>
              </h3>

              <h3>Check out the repo on <a href="http://github.com/alexcican/lab/tree/gh-pages/teehan_lax_navigation" target="_blank">GitHub</a>.</h3>

              <p>This is dummy content to fill the page.</p>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quam lectus, vestibulum in dui sit amet, consectetur accumsan nulla. Proin volutpat malesuada nisl a aliquam. Quisque sit amet sollicitudin ipsum, in interdum felis. Donec pretium diam sit amet ipsum suscipit viverra. Suspendisse eget nisi molestie, ullamcorper dui eget, suscipit arcu. Duis sem sem, scelerisque dictum elit in, dictum tristique justo. Praesent convallis magna eget magna sodales, eu vestibulum massa tincidunt. Pellentesque ut lectus sit amet odio semper dapibus. Nullam ornare vehicula faucibus. Aenean ut felis at dui faucibus semper non sed diam. In molestie vulputate leo, id placerat lacus rhoncus id. Duis non nisi tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis venenatis nulla fringilla augue vehicula blandit. Suspendisse potenti.</p>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quam lectus, vestibulum in dui sit amet, consectetur accumsan nulla. Proin volutpat malesuada nisl a aliquam. Quisque sit amet sollicitudin ipsum, in interdum felis. Donec pretium diam sit amet ipsum suscipit viverra. Suspendisse eget nisi molestie, ullamcorper dui eget, suscipit arcu. Duis sem sem, scelerisque dictum elit in, dictum tristique justo. Praesent convallis magna eget magna sodales, eu vestibulum massa tincidunt. Pellentesque ut lectus sit amet odio semper dapibus. Nullam ornare vehicula faucibus. Aenean ut felis at dui faucibus semper non sed diam. In molestie vulputate leo, id placerat lacus rhoncus id. Duis non nisi tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis venenatis nulla fringilla augue vehicula blandit. Suspendisse potenti.</p>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quam lectus, vestibulum in dui sit amet, consectetur accumsan nulla. Proin volutpat malesuada nisl a aliquam. Quisque sit amet sollicitudin ipsum, in interdum felis. Donec pretium diam sit amet ipsum suscipit viverra. Suspendisse eget nisi molestie, ullamcorper dui eget, suscipit arcu. Duis sem sem, scelerisque dictum elit in, dictum tristique justo. Praesent convallis magna eget magna sodales, eu vestibulum massa tincidunt. Pellentesque ut lectus sit amet odio semper dapibus. Nullam ornare vehicula faucibus. Aenean ut felis at dui faucibus semper non sed diam. In molestie vulputate leo, id placerat lacus rhoncus id. Duis non nisi tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis venenatis nulla fringilla augue vehicula blandit. Suspendisse potenti.</p>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quam lectus, vestibulum in dui sit amet, consectetur accumsan nulla. Proin volutpat malesuada nisl a aliquam. Quisque sit amet sollicitudin ipsum, in interdum felis. Donec pretium diam sit amet ipsum suscipit viverra. Suspendisse eget nisi molestie, ullamcorper dui eget, suscipit arcu. Duis sem sem, scelerisque dictum elit in, dictum tristique justo. Praesent convallis magna eget magna sodales, eu vestibulum massa tincidunt. Pellentesque ut lectus sit amet odio semper dapibus. Nullam ornare vehicula faucibus. Aenean ut felis at dui faucibus semper non sed diam. In molestie vulputate leo, id placerat lacus rhoncus id. Duis non nisi tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis venenatis nulla fringilla augue vehicula blandit. Suspendisse potenti.</p>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quam lectus, vestibulum in dui sit amet, consectetur accumsan nulla. Proin volutpat malesuada nisl a aliquam. Quisque sit amet sollicitudin ipsum, in interdum felis. Donec pretium diam sit amet ipsum suscipit viverra. Suspendisse eget nisi molestie, ullamcorper dui eget, suscipit arcu. Duis sem sem, scelerisque dictum elit in, dictum tristique justo. Praesent convallis magna eget magna sodales, eu vestibulum massa tincidunt. Pellentesque ut lectus sit amet odio semper dapibus. Nullam ornare vehicula faucibus. Aenean ut felis at dui faucibus semper non sed diam. In molestie vulputate leo, id placerat lacus rhoncus id. Duis non nisi tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis venenatis nulla fringilla augue vehicula blandit. Suspendisse potenti.</p>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quam lectus, vestibulum in dui sit amet, consectetur accumsan nulla. Proin volutpat malesuada nisl a aliquam. Quisque sit amet sollicitudin ipsum, in interdum felis. Donec pretium diam sit amet ipsum suscipit viverra. Suspendisse eget nisi molestie, ullamcorper dui eget, suscipit arcu. Duis sem sem, scelerisque dictum elit in, dictum tristique justo. Praesent convallis magna eget magna sodales, eu vestibulum massa tincidunt. Pellentesque ut lectus sit amet odio semper dapibus. Nullam ornare vehicula faucibus. Aenean ut felis at dui faucibus semper non sed diam. In molestie vulputate leo, id placerat lacus rhoncus id. Duis non nisi tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis venenatis nulla fringilla augue vehicula blandit. Suspendisse potenti.</p>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quam lectus, vestibulum in dui sit amet, consectetur accumsan nulla. Proin volutpat malesuada nisl a aliquam. Quisque sit amet sollicitudin ipsum, in interdum felis. Donec pretium diam sit amet ipsum suscipit viverra. Suspendisse eget nisi molestie, ullamcorper dui eget, suscipit arcu. Duis sem sem, scelerisque dictum elit in, dictum tristique justo. Praesent convallis magna eget magna sodales, eu vestibulum massa tincidunt. Pellentesque ut lectus sit amet odio semper dapibus. Nullam ornare vehicula faucibus. Aenean ut felis at dui faucibus semper non sed diam. In molestie vulputate leo, id placerat lacus rhoncus id. Duis non nisi tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis venenatis nulla fringilla augue vehicula blandit. Suspendisse potenti.</p>
            </div>
          </div>

          <footer>
              <a href="https://twitter.com/share" class="twitter-share-button" data-via="brownerds" data-related="brownerds">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          &bull; Created by <a href="http://twitter.com/brownerds" target="_blank" title="Brownerds on Twitter">Brownerds</a>
          &bull; Source code on <a href="http://github.com/alexcican/lab/tree/gh-pages/teehan_lax_navigation" target="_blank" title="GitHub">GitHub</a>
          </footer>




        {% include footer.html %}
    </div>
  </body>
</html>
