<!DOCTYPE html>
<!--
  ______   _______  ________  __       __   ______   _______   __    __   ______
 /      \ |       \|        \|  \  _  |  \ /      \ |       \ |  \  /  \ /      \
|  $$$$$$\| $$$$$$$\\$$$$$$$$| $$ / \ | $$|  $$$$$$\| $$$$$$$\| $$ /  $$|  $$$$$$\
| $$__| $$| $$__| $$  | $$   | $$/  $\| $$| $$  | $$| $$__| $$| $$/  $$ | $$___\$$
| $$    $$| $$    $$  | $$   | $$  $$$\ $$| $$  | $$| $$    $$| $$  $$   \$$    \
| $$$$$$$$| $$$$$$$\  | $$   | $$ $$\$$\$$| $$  | $$| $$$$$$$\| $$$$$\   _\$$$$$$\
| $$  | $$| $$  | $$  | $$   | $$$$  \$$$$| $$__/ $$| $$  | $$| $$ \$$\ |  \__| $$
| $$  | $$| $$  | $$  | $$   | $$$    \$$$ \$$    $$| $$  | $$| $$  \$$\ \$$    $$
 \$$   \$$ \$$   \$$   \$$    \$$      \$$  \$$$$$$  \$$   \$$ \$$   \$$  \$$$$$$
 -->
<html>
  <head>
    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <title>STLOUISARTWORKS | {{ page.seoTitle }}</title>

    <meta name="author" content="{{ site.name }}" />
    <meta name="description" content="{{ page.seoDescription }}">

    <script src="//use.typekit.net/rtn4lgy.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css" />
    <script src="/js/prefixfree.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>


    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body class="{{page.bodyclass}}">

    {% include analytics.html %}

    {% include nav/nav-laxbar.html %}

    <div class="container  content-transition">

        {{ content }}

    </div>

    {% include footer.html %}

  </body>
</html>
