---
layout: default
bodyclass: programs
---
<main>
<div class="about__feature" style="background-image: url('/images/{{page.feature-img}}');">
    <div class="about__box-white">
        <h2>{{page.feature-statement}}</h2>
        <p>{% include svg-icons/slawcube.html %}</p>
    </div>
</div>

<div class="about__page_text_block">
    <div class="about_text_block">
        <h2 class="condensed"><span class="bold">{{ page.title }}:</span> {{ page.subtitle }}</h2>
        <div class="entry">
          {{ content }}
        </div>
    </div>
</div>


<section id="reveal-gallery" class="reveal-section">
    <div class="reveal-container">
        <h2>Programs</h2>
        <ul>
            {% for program in site.programs %}
            <li>
                <a href="#0" data-type="{{program.feature-img | | remove: '.jpg'}}">
                    <figure style="background-image: url('/images/{{program.feature-img}}');">
                        <!-- <img src="/images/{{program.feature-img}}" alt="Team member 1"> -->
                        <div class="reveal-img-overlay">
                            <span>Read more</span>
                        </div>
                    </figure>
                    <div class="reveal-box-info">{{program.title}}</div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div> <!-- reveal-container -->
</section> <!-- reveal-gallery -->

<div class="reveal-overlay"></div>
</main>


{% for program in site.programs %}
<div class="reveal-panel {{program.feature-img | remove: ".jpg"}}">
    <div class="reveal-panel-pict">
        <div class="pxs" style="background-image: url('/images/{{program.feature-img}}');"></div>
    </div> <!-- reveal-panel-pict -->

    <div class="reveal-bio-content">
        <h1>{{program.title}}</h1>
        {{ program.content }}
    </div> <!-- reveal-bio-content -->
</div> <!-- reveal-panel -->
{% endfor %}

<a href="#0" class="reveal-panel-close">Close</a>
