---
layout: default
bodyclass: programs
---

<div class="about__feature" style="background-image: url('/images/{{page.feature-img}}');">
    <div class="about__box-white">
        <h2>{{page.feature-statement}}</h2>
        <p>{% include svg-icons/slawcube.html %}</p>
    </div>
</div>

<div class="about__page_text_block">
    <div class="about_text_block">
        <h2 class="condensed"><span class="bold">{{ page.title }}:</span> {{ page.subtitle }}</h2>
        <div class="entry">
          {{ content }}
        </div>
    </div>
</div>



<div class="programLayer">
    {% for program in site.programs %}
        <div class="programLayer__column">
            <h2 class="programLayer__title">{{ program.title }}</h2>
            <div class="programLayer__image" style="background-image: url('/images/{{program.feature-img}}');">
            </div>
            <div class="programLayer__text">
                {{ content }}
                <p><a class="applyButton" href="#">Apply today!</a></p>
            </div>
        </div>
    {% endfor %}
</div>
